.full-hero {
    background-color: #000;
    background-size: cover;
    box-sizing: border-box;
    height: 60vh;
    padding-top: 7vh;
  }
  
  .full-hero:after {
    bottom: 2vh;
    color: #fff;
    /* content: "﹀"; */
    font-size: 36px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
  }
  
  /* .hero-home {
    background-image: url(/images/shark.jpg);
    background-position: center top;
  } */
  
  .hero-content {
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 45%;
    transform: translate(0, -50%);
    background-color: #000;
  }
  
  .hero-content h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 5vw;
  }
  
  .hero-content .social-link {
    background-color: rgba(255, 255, 255, 0.8);
    color: #557c83;
  }
  
  .hero-content .social-link:hover {
    background-color: #000;
    color: #fff;
  }
  
  .half-hero {
    background-position: center center;
    background-size: cover;
    height: 30vh;
  }
  
  /* SOCIAL STYLES */
  .social-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .social-link {
    background: rgba(150, 150, 150, 0.5);
    border-radius: 99px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: helvetica, arial, sans;
    font-size: 1rem;
    font-weight: bold;
    height: 2.5em;
    line-height: 1;
    padding-top: 0.85em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 2.5em;
  }
  
  .social-list>li {
    display: inline-block;
    margin: 0 0.5em;
  }