---
layout: default
---
<div class="half-hero">
  <div class="hero-content">
      <h1>Home of Motor City Darts</h1>
      <img src="/images/MCD Black.jpg" alt="Motor City Darts">
  </div>
</div>
<div class="page blog-index">
  <h1>Menu</h1>
  <div class="col-two blog-cols">
    <div class="col col-aside blog-recent">
      <div class="menu-special">
        <h4>Daily Specials</h4>
        <ul class="blog-title-list">
          {% for post in site.posts %}
              {% if post.type == "special" %}
                  <li>
                      <label class="menu-special-title">{{ post.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.price }}</label>
                      <br/><br/>
                      <label class="menu-special-description">{{ post.description }}</label>
                  </li>
                  <hr/>
              {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="menu-special" style="margin-top: 4em;">
        <h4>Pizza</h4>
        <ul class="blog-title-list">
          {% for post in site.posts %}
              {% if post.type == "pizza" %}
                  <li>
                      <label class="menu-special-title">{{ post.title }}</label><br/>
                      <label class="menu-special-price">{{ post.price }}</label>
                      <br/><br/>
                      <label class="menu-special-description">{{ post.description }}</label>
                  </li>
                  <hr/>
              {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
      
    <div class="col col-content blog-previews">
        <h1>Appetizers</h1>
        {% for post in site.posts %}
            {% if post.type == "appetizer" %}
              <div class="blog-posts">
                <header class="post-header">
                  <h2>{{ post.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.price }}</h2>
                  <div class="post-byline">
                    <h4>{{ post.description }}</h4>
                  </div>
                </header>
              </div>
            {% endif %}          
        {% endfor %}
        <div style="padding-top: 50px;"></div>
        <h1>Burgers</h1>
        {% for post in site.posts %}
            {% if post.type == "burger" %}
            <div class="blog-posts">
                <header class="post-header">
                  <h2>{{ post.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post.price }}</h2>
                  <div class="post-byline">
                    <h4>{{ post.description }}</h4>
                  </div>
                </header>
              </div>
            {% endif %}          
        {% endfor %}
      </div>
  </div>
</div>